.cabin-sketch-regular {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cabin-sketch-bold {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

  
body{
    background-color: rgb(75, 73, 73);
    color: white;
    font-family: "Cabin Sketch", sans-serif;
}



.container{
    .main-title{
        font-size: 3rem;
    }
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    .etch-grid{
        display: grid;
        border: 25px solid rgb(0, 0, 0);
        height: 60dvh;
        width: 37dvw;
        .grid-div {
            width: 100%;
            height: 100%;
            background-color: rgb(255, 255, 255);
            // border: 1px solid #000000; 
            user-select: none;
        }
    }
.this-is-for-layout{
    display: flex;
    flex-direction: column;
}
    
}
.choose-color{
    display: flex;
    // border: 3px solid hotpink;
    align-items: center;
    flex-direction: row;
}

.choose-rows{
    margin: 1rem;
}

   h1,button,input{
        margin: 1rem;
    }
button{
    padding: .7rem;
    font-size: 1rem;
    font-family: "Cabin Sketch", sans-serif;
    background-color: rgb(111, 111, 116);
    color: white;
    border-radius: 5px;
    border:none;
    transition: transform 0.3s ease;
}
button:hover{
    cursor: pointer;
    transform: scale(1.15);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


// sass index.scss output.css